/* font import */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

.invisible-left {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply -translate-x-1/2 opacity-0;
}

.visible-left {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply translate-x-0 opacity-100 transition-all ease-out duration-[1500ms];
}

.invisible-top {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply -translate-y-1/2 opacity-0;
}

.visible-top {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply translate-y-0 opacity-100 transition-all ease-out duration-[1500ms];
}

.invisible-bottom {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply translate-y-1/2 opacity-0;
}

.visible-bottom {
  backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  @apply translate-y-0 opacity-100 transition-all ease-out duration-[1500ms];
}
